.wrap {
  width: 1440px;
  margin: 0 auto;
  /* padding: 0px 120px; */
}
.hero {
  background-image: url(../assets/img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  max-height: 700px;
  padding: 436px 328px 60px 328px;
}

.title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: var(--white);
  margin-bottom: 16px;
}

.subtitle {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  text-align: center;
  color: var(--white);
  margin-bottom: 40px;
}

.button {
  font-family: "Manrope", sans-serif;
  display: inline-block;
  padding: 12px 88px;
  background-color: var(--button);
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 12px;
  transition: all 250ms ease-in-out;
}
.button:hover {
  background-color: var(--button-hover);
}
